.git
.github
.wrangler
.dev.vars
.dev.vars.*
**/.dev.vars
**/.dev.vars.*
.env
.env.*
**/.env
**/.env.*
wrangler.dev.jsonc
**/wrangler.dev.jsonc
node_modules
**/node_modules
**/dist
coverage
release-out
